.ms-root {
    background-image: linear-gradient( rgba(213, 184, 255, 0.5), rgba(0, 0, 0, 0.5)),
    url(./background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}


.bg-fade-mask {
    background-color: rgba(0, 0, 0, 0);
}
.bg-fade-mask-enter {
    background-color: rgba(0, 0, 0, 0.9);
}

.bg-fade-mask-enter-active {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 600ms ease-out;
}

.bg-fade-mask-exit {
    background-color: rgba(255, 255, 255, 0);
}

.bg-fade-mask-exit-active {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 500ms;
}

.ms-title {
    font-size: 2rem;
    margin: 1.5rem;
    text-align: center;
}

.ant-input, .ant-picker-input {
    text-align: left;
}

.ms-ant-card {
    margin: 1rem auto;
    /*hot fix*/
    /* position: static; */
    z-index: 10;
}


.ms-float-box {
    color: white;
    border-radius: 1rem;
    /* box-shadow: 0 0 1rem grey; */
    opacity: 0.96;
}
.today-work-disp{
    margin: 1.5rem 1rem 2rem 1rem;
    padding: 0 0 1rem 0;
}

/* this may cause css clash, however react-bootstrap doesn't output style setting */
.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.ms-card{
    margin: 0.5rem 0.3rem;
    padding: 0.3rem 1.5rem;
    border-radius: .3rem;
    color: rgb(25, 25, 25);
    background-color: rgba(255, 255, 255, 0.99);
    user-select: none;
    /* z-index: 99; */
}
.ant-list-header{
    /*watch out clash*/
    margin: 0rem 0rem;
    padding: 0rem 0rem;
}

/*can't overcome ant-col over card by z-index*/

/* .ms-card-preview {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 3rem;
} */


.interactive-icon {
    font-size: 2.5rem;
    margin: 'auto';
    display: 'block';
}

.interactive-icon-container {
    border-style: solid;
    border-radius: 1rem;
    background-color: rgba(255, 234, 234, 0.993);
    margin: 1rem 1rem 3rem 1rem;
    height: 4.5rem;
}

.interactive-icon-container-hover {
    transform: scale(1.2);
    /* Equal to scaleX(0.7) scaleY(0.7) */
    background-color: rgba(153, 51, 255, 0.95);
    color: white;
}

/* .switch-icon {
    font-size: 2rem;
    margin: 'auto';
    display: 'block';
}

.switch-icon-container {
    border-style: solid;
    border-radius: 1rem;
    margin: 1rem 1rem 3rem 1rem;
    height: 4rem;
} */

.ms-config-p {
    font-size: 1rem;
    text-align: left;
    margin: .5rem;
}