# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# client
## dependencies
/client/node_modules

## production
/client/build

# server
/server/node_modules
/server/build
/server/dist

# misc
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# develop only
/learn.md
/test-GC_API
/learn.assets
/.vscode
/.memo-clock_bp
