

#
client_secret_750299718967-6jdnuop6jat8uql8gsstjuvju7llmcqj.apps.googleusercontent.com.json
node_modules
build
dist
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


