

.hp-root{
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100vw;
    width: auto;
    min-height: 100vh;
    height: auto;
    background-color: rgba(0,0,0,0.5);

}
.hp-movie-container{
    display: flex;
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}