
.recharts-wrapper{
    margin: auto auto;
}
h2{
    text-align: left;
    margin-left: 1rem;
    margin-top: 1rem;
    color: rgb(43, 66, 75);
}
p{
    text-align: left;
    margin-left: 2rem;
    font-size: 1rem;
}
.sum-col{
    width: 89%;
    max-width: 1300px;
    border-color: rgba(182, 182, 150, .9);
    border-radius:1rem;
    background-color: rgba(182, 182, 150, .5);
    border-style: dashed;
    margin: 2rem;
}